* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* wrapper */

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(243,31,41,1) 46%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}

/* welcome text */

.welcome {
    width: 400px;
}

/* form */

.form input, .form button {
    display: block;
    width: 100%;
}

.form input {
    margin-bottom: 15px;
    border: none;
    border-bottom: 2px solid orangered;
    background-color: transparent;
    text-align: center;
    outline: none;
    font-size: 50px;
}

.form button {
    padding: 20px 0;
    font-size: 20px;
    border-color: black;
    border-radius: 100px;
    background-color: black;
    color: #833ab4
    ;
    transition: .4s all;
}

.form button:focus {
    outline: none;
}

.form button:hover {
    transform: translateY(-10px);
    cursor: pointer;
}

/* ---------------------Quiz Section---------------- */

.quiz {
    width: 800px;
    height: 500px;
    background-color: greenyellow;
    display: grid;
    grid-template-rows: 60px auto;
}

.quiz_header {
    display: flex;
    justify-content: space-around;
    background-color: black;
    align-items: center;
}

.quiz_body {
    background-color: greenyellow;
    padding: 60px;
}

.namestyling, .timer {
    color: white;
}

.ul {
    margin-top: 20px;
}

.option {
    list-style-type: none;
    background-color: blueviolet;
    width: 50%;
    color: white;
    padding: 15px 20px;
    font-weight: 200;
    margin-bottom: 15px;
    border-radius: 100px;
}

.option:hover {
    cursor: pointer;
}

.nextques {
    background-color: black;
    color: rgb(0, 140, 255);
    font-size: 20px;
    padding: 15px 20px;
    border: 1px solid black;
    border-radius: 100px;
    transition: .4s all;
}

.nextques:hover {
    transform: translateY(-5px);
    cursor: pointer;
}

.nextques:focus {
    outline: none;
}

.active {
    background-color: white;
    color: black !important;
}

/* ---------end page */

table {
    border: 2px solid rgb(0, 153, 255);
}

table tr td {
    padding: 25px;
    text-align: center;
    color: white;
    font-size: 20px;
    border: 2px solid olivedrab ;
}

/* --------------MEDIA QUERY */

@media only screen and (max-width: 800px) {
    .quiz {
        width: 600px;
        height: 400px;
    }
}

@media only screen and (max-width: 600px) {
    .quiz {
        width: 550px;
        height: 300px;
    }
    .start {
        padding: 100px 25px;
    }
    .welcome {
        padding: 50px 20px;
    }
}

@media only screen and (max-width: 550px) {
    .start {
        padding: 100px 25px;
    }
    .welcome {
        padding: 50px 20px;
    }
    .quiz {
        width: 500px;
        height: 400px;
    }
    .option {
        width: 80%;
    }
}

@media only screen and (max-width: 450px) {
    .quiz {
        width: 350px;
        height: 300px;
    }
    .option {
        width: 100%;
    }
    .text {
        font-size: 20px;
    }
    .quiz_header {
        padding: 10px;
    }
    .wrapper {
        align-items: flex-start;
        margin: 0;
    }
    .end {
        padding: 15px;
    }
    table tr td {
        font-size: 25px;
        padding: 10px;
    }
    .start {
        padding: 180px 25px;
    }
    .welcome {
        padding: 50px 20px;
    }
    .form input{
        font-size: 30px;
    }
}

@media only screen and (max-width:380px) {
    .end {
        padding: 15px 5px;
    }
    table tr td {
        font-size: 15px;
        padding: 10px;
    }
}

@media only screen and (max-width:350px) {
    .quiz {
        width: 300px;
        height: 520;
    }
    .option {
        width: 110%;
    }
    .wrapper {
        height: 120vh;
        align-items: flex-start;
    }
    .tropy {
        font-size: 200px;
        margin-left: 5%;
    }
    .usname, .point {
        font-size: 20px;
    }
}

@media only screen and (max-width:320px) {
    .end {
        padding: 15px;
    }
    table tr td {
        font-size: 15px;
        padding: 5px;
    }
}